extends layout
block content
  
  .wrapper
    .content
      include header.pug
      .container
        .row
          .col-sm-12
            h1 &Vcy;&scy;&iecy; &scy;&tcy;&rcy;&acy;&ncy;&icy;&tscy;&ycy;
            p
              a(href='/') Home
            p
              a(href='/basic') Basic
            p
              a(href='/standart') Standart
            p
              a(href='/pro') Pro
            p
              a(href='/contact') Contact
          //- <p><a href="/instr.php">instr</a></p>
  //- include footer.pug