extends layout
block content

  footer.footer
      .footer_bottom
        .container
          .row
            .col-12.col-sm-4.col-md-4.col-lg-3
              .footerLogoImg
                img(src='img/logoGray.svg' alt='')
              p
                | Revolute Key Courses, school of key masters. Become pro in iur small specific. All rights reserved. Any coping follows the rules.
              p Copyright @ 2019 RevoluteKey Ltd
              .paymentLogos
                img(src='img/paymentMC.svg' alt='')
                img(src='img/paymentPP.svg' alt='')
                img(src='img/paymentVS.svg' alt='')
                img(src='img/paymentWU.svg' alt='')
            .col-6.col-sm-2.col-md-2.col-lg-2
              .fotterMenuCourses
                h4 Courses
                ul
                  li
                    a(href='/basic') Basic
                  li
                    a(href='/standart') Standart
                  li
                    a(href='/pro') Premium
            .col-6.col-sm-2.col-md-2.col-lg-2
              .fotterMenuCourses
                h4 Pages
                ul
                  li
                    a(href='/contact') Contact
                  li
                    a(href='/login') Log In
            .col-12.col-sm-4.col-md-4.col-lg-3
              .footerContacts
                h4 Contact
                p
                  a(href='tel:+375296013289') +375 (29) 601-32-89
                p
                  a(href='mailto:example@gmail.com') example@gmail.com
                p
                  a(target='_blank' href='https://yandex.by/maps/10393/london/?ll=-0.012249%2C51.495433&mode=search&oid=243655129188&ol=biz&sctx=ZAAAAAgBEAAaKAoSCUxTBDi9jztAEapiKv2E80pAEhIJAAAAAICN3z8RACT%2B%2F5FUxz8iBQABAgQFKAowADjl75ryy7mXggNAnQFIAVXNzMw%2BWABiSHJlbGV2X3JhbmtpbmdfaGVhdnlfZm9ybXVsYT1jbGlja18wLjdfZHNzbTJfMC4wNWR3ZWxsX3NxcnRfd2VpZ2h0XzYzMjAxMmoCdWFwAJ0BzcxMPaABAKgBAL0BLt175sIBBuTw6NeLBw%3D%3D&sll=-0.012249%2C51.495433&sspn=0.096034%2C0.037528&text=4th%20Floor%2C%207%20Westferry%20Circus%20E14%204HD%20London&z=14.36') 4th Floor, 7 Westferry Circus E14 4HD London
                ul
                  li
                    a(href='https://www.linkedin.com/' target='_blank')
                      img(src='img/socIn.svg' alt='')
                  li
                    a(href='https://www.facebook.com/' target='_blank')
                      img(src='img/socFb.svg' alt='')
                  li
                    a(href='https://twitter.com/' target='_blank')
                      img(src='img/socTw.svg' alt='')
            .col-12.col-md-12.col-lg-2
              .footerShopButton
                a.shopButton(href='#') Shop
