extends layout
block content

  include header.pug
  section
    .container
      .row
        .col-12
          .step_one_old.videos-step_one_old
            .videos-step_one_old-title Revolute Key&apos;s videos!
            .videos-step_one_old-text To watch our videos, please follow the 2-step instructions bellow:
            a.yellowButton(href='#')
              img(src='img/download1.png' alt='⤓')
              | Download Player
  section
    .episodeList
      .episodeList-content.videoList-content
        .episode-iframeBlock
          .videosViewed
            .videosItem-number 01
            .videosItem-text viewed
          .hiddenBlock
            .hiddenBlock-title
              img(src='img/episodeChip.svg' alt='chip')
              .hiddenBlock-title-title Episode 12
            .hiddenBlock-text Remote programming
            .hiddenBlock-play
              img(src='img/Polygon1.png' alt='▹')
          img(src='img/yellowMan.png' alt='img')
          .episode-iframeBlock-mobile-content
            .episode-iframeBlock-mobile-chip
            .episode-iframeBlock-mobile-title Remote programming
            hr
            .episode-iframeBlock-mobile-code ZN3N-8T4B-CDRZ
        .episode-iframeBlock
          .videosViewed
            .videosItem-number 02
            .videosItem-text viewed
          .hiddenBlock
            .hiddenBlock-title
              img(src='img/episodeChip.svg' alt='chip')
              .hiddenBlock-title-title Episode 12
            .hiddenBlock-text Remote programming
            .hiddenBlock-play
              img(src='img/Polygon1.png' alt='▹')
          img(src='img/masterclass1.png' alt='img')
          .episode-iframeBlock-mobile-content
            .episode-iframeBlock-mobile-chip
            .episode-iframeBlock-mobile-title Remote programming
            hr
            .episode-iframeBlock-mobile-code ZN3N-8T4B-CDRZ
        .episode-iframeBlock
          .videosViewed
            .videosItem-number 03
          .hiddenBlock
            .hiddenBlock-title
              img(src='img/episodeChip.svg' alt='chip')
              .hiddenBlock-title-title Episode 12
            .hiddenBlock-text Remote programming
            .hiddenBlock-play
              img(src='img/Polygon1.png' alt='▹')
          img(src='img/masterclass2.png' alt='img')
          .episode-iframeBlock-mobile-content
            .episode-iframeBlock-mobile-chip
            .episode-iframeBlock-mobile-title Remote programming
            hr
            .episode-iframeBlock-mobile-code ZN3N-8T4B-CDRZ
        .episode-iframeBlock
          .videosViewed
            .videosItem-number 04
          .hiddenBlock
            .hiddenBlock-title
              img(src='img/episodeChip.svg' alt='chip')
              .hiddenBlock-title-title Episode 12
            .hiddenBlock-text Remote programming
            .hiddenBlock-play
              img(src='img/Polygon1.png' alt='▹')
          img(src='img/masterclass3.png' alt='img')
          .episode-iframeBlock-mobile-content
            .episode-iframeBlock-mobile-chip
            .episode-iframeBlock-mobile-title Remote programming
            hr
            .episode-iframeBlock-mobile-code ZN3N-8T4B-CDRZ
        .episode-iframeBlock
          .videosViewed
            .videosItem-number 05
          .hiddenBlock
            .hiddenBlock-title
              img(src='img/episodeChip.svg' alt='chip')
              .hiddenBlock-title-title Episode 12
            .hiddenBlock-text Remote programming
            .hiddenBlock-play
              img(src='img/Polygon1.png' alt='▹')
          img(src='img/yellowMan.png' alt='img')
          .episode-iframeBlock-mobile-content
            .episode-iframeBlock-mobile-chip
            .episode-iframeBlock-mobile-title Remote programming
            hr
            .episode-iframeBlock-mobile-code ZN3N-8T4B-CDRZ
        .episode-iframeBlock
          .videosViewed
            .videosItem-number 06
          .hiddenBlock
            .hiddenBlock-title
              img(src='img/episodeChip.svg' alt='chip')
              .hiddenBlock-title-title Episode 12
            .hiddenBlock-text Remote programming
            .hiddenBlock-play
              img(src='img/Polygon1.png' alt='▹')
          img(src='img/masterclass1.png' alt='img')
          .episode-iframeBlock-mobile-content
            .episode-iframeBlock-mobile-chip
            .episode-iframeBlock-mobile-title Remote programming
            hr
            .episode-iframeBlock-mobile-code ZN3N-8T4B-CDRZ
        .episode-iframeBlock
          .videosViewed
            .videosItem-number 07
          .hiddenBlock
            .hiddenBlock-title
              img(src='img/episodeChip.svg' alt='chip')
              .hiddenBlock-title-title Episode 12
            .hiddenBlock-text Remote programming
            .hiddenBlock-play
              img(src='img/Polygon1.png' alt='▹')
          img(src='img/masterclass2.png' alt='img')
          .episode-iframeBlock-mobile-content
            .episode-iframeBlock-mobile-chip
            .episode-iframeBlock-mobile-title Remote programming
            hr
            .episode-iframeBlock-mobile-code ZN3N-8T4B-CDRZ
        .episode-iframeBlock
          .videosViewed
            .videosItem-number 08
          .hiddenBlock
            .hiddenBlock-title
              img(src='img/episodeChip.svg' alt='chip')
              .hiddenBlock-title-title Episode 12
            .hiddenBlock-text Remote programming
            .hiddenBlock-play
              img(src='img/Polygon1.png' alt='▹')
          img(src='img/masterclass3.png' alt='img')
          .episode-iframeBlock-mobile-content
            .episode-iframeBlock-mobile-chip
            .episode-iframeBlock-mobile-title Remote programming
            hr
            .episode-iframeBlock-mobile-code ZN3N-8T4B-CDRZ
        .episode-iframeBlock
          .videosViewed
            .videosItem-number 09
          .hiddenBlock
            .hiddenBlock-title
              img(src='img/episodeChip.svg' alt='chip')
              .hiddenBlock-title-title Episode 12
            .hiddenBlock-text Remote programming
            .hiddenBlock-play
              img(src='img/Polygon1.png' alt='▹')
          img(src='img/yellowMan.png' alt='img')
          .episode-iframeBlock-mobile-content
            .episode-iframeBlock-mobile-chip
            .episode-iframeBlock-mobile-title Remote programming
            hr
            .episode-iframeBlock-mobile-code ZN3N-8T4B-CDRZ
        .episode-iframeBlock
          .videosViewed
            .videosItem-number 10
          .hiddenBlock
            .hiddenBlock-title
              img(src='img/episodeChip.svg' alt='chip')
              .hiddenBlock-title-title Episode 12
            .hiddenBlock-text Remote programming
            .hiddenBlock-play
              img(src='img/Polygon1.png' alt='▹')
          img(src='img/masterclass1.png' alt='img')
          .episode-iframeBlock-mobile-content
            .episode-iframeBlock-mobile-chip
            .episode-iframeBlock-mobile-title Remote programming
            hr
            .episode-iframeBlock-mobile-code ZN3N-8T4B-CDRZ
        .episode-iframeBlock
          .videosViewed
            .videosItem-number 11
          .hiddenBlock
            .hiddenBlock-title
              img(src='img/episodeChip.svg' alt='chip')
              .hiddenBlock-title-title Episode 12
            .hiddenBlock-text Remote programming
            .hiddenBlock-play
              img(src='img/Polygon1.png' alt='▹')
          img(src='img/masterclass2.png' alt='img')
          .episode-iframeBlock-mobile-content
            .episode-iframeBlock-mobile-chip
            .episode-iframeBlock-mobile-title Remote programming
            hr
            .episode-iframeBlock-mobile-code ZN3N-8T4B-CDRZ
        .episode-iframeBlock
          .videosViewed
            .videosItem-number 12
          .hiddenBlock
            .hiddenBlock-title
              img(src='img/episodeChip.svg' alt='chip')
              .hiddenBlock-title-title Episode 12
            .hiddenBlock-text Remote programming
            .hiddenBlock-play
              img(src='img/Polygon1.png' alt='▹')
          img(src='img/masterclass3.png' alt='img')
          .episode-iframeBlock-mobile-content
            .episode-iframeBlock-mobile-chip
            .episode-iframeBlock-mobile-title Remote programming
            hr
            .episode-iframeBlock-mobile-code ZN3N-8T4B-CDRZ
        .episode-iframeBlock
          .videosViewed
            .videosItem-number 13
          .hiddenBlock
            .hiddenBlock-title
              img(src='img/episodeChip.svg' alt='chip')
              .hiddenBlock-title-title Episode 12
            .hiddenBlock-text Remote programming
            .hiddenBlock-play
              img(src='img/Polygon1.png' alt='▹')
          img(src='img/yellowMan.png' alt='img')
          .episode-iframeBlock-mobile-content
            .episode-iframeBlock-mobile-chip
            .episode-iframeBlock-mobile-title Remote programming
            hr
            .episode-iframeBlock-mobile-code ZN3N-8T4B-CDRZ
        .episode-iframeBlock
          .videosViewed
            .videosItem-number 14
          .hiddenBlock
            .hiddenBlock-title
              img(src='img/episodeChip.svg' alt='chip')
              .hiddenBlock-title-title Episode 12
            .hiddenBlock-text Remote programming
            .hiddenBlock-play
              img(src='img/Polygon1.png' alt='▹')
          img(src='img/masterclass1.png' alt='img')
          .episode-iframeBlock-mobile-content
            .episode-iframeBlock-mobile-chip
            .episode-iframeBlock-mobile-title Remote programming
            hr
            .episode-iframeBlock-mobile-code ZN3N-8T4B-CDRZ
        .episode-iframeBlock
          .videosViewed
            .videosItem-number 15
          .hiddenBlock
            .hiddenBlock-title
              img(src='img/episodeChip.svg' alt='chip')
              .hiddenBlock-title-title Episode 12
            .hiddenBlock-text Remote programming
            .hiddenBlock-play
              img(src='img/Polygon1.png' alt='▹')
          img(src='img/masterclass2.png' alt='img')
          .episode-iframeBlock-mobile-content
            .episode-iframeBlock-mobile-chip
            .episode-iframeBlock-mobile-title Remote programming
            hr
            .episode-iframeBlock-mobile-code ZN3N-8T4B-CDRZ
        .episode-iframeBlock
          .videosViewed
            .videosItem-number 16
          .hiddenBlock
            .hiddenBlock-title
              img(src='img/episodeChip.svg' alt='chip')
              .hiddenBlock-title-title Episode 12
            .hiddenBlock-text Remote programming
            .hiddenBlock-play
              img(src='img/Polygon1.png' alt='▹')
          img(src='img/masterclass3.png' alt='img')
          .episode-iframeBlock-mobile-content
            .episode-iframeBlock-mobile-chip
            .episode-iframeBlock-mobile-title Remote programming
            hr
            .episode-iframeBlock-mobile-code ZN3N-8T4B-CDRZ
        .episode-iframeBlock
          .videosViewed
            .videosItem-number 17
          .hiddenBlock
            .hiddenBlock-title
              img(src='img/episodeChip.svg' alt='chip')
              .hiddenBlock-title-title Episode 12
            .hiddenBlock-text Remote programming
            .hiddenBlock-play
              img(src='img/Polygon1.png' alt='▹')
          img(src='img/yellowMan.png' alt='img')
          .episode-iframeBlock-mobile-content
            .episode-iframeBlock-mobile-chip
            .episode-iframeBlock-mobile-title Remote programming
            hr
            .episode-iframeBlock-mobile-code ZN3N-8T4B-CDRZ
        .episode-iframeBlock
          .videosViewed
            .videosItem-number 18
          .hiddenBlock
            .hiddenBlock-title
              img(src='img/episodeChip.svg' alt='chip')
              .hiddenBlock-title-title Episode 12
            .hiddenBlock-text Remote programming
            .hiddenBlock-play
              img(src='img/Polygon1.png' alt='▹')
          img(src='img/masterclass1.png' alt='img')
          .episode-iframeBlock-mobile-content
            .episode-iframeBlock-mobile-chip
            .episode-iframeBlock-mobile-title Remote programming
            hr
            .episode-iframeBlock-mobile-code ZN3N-8T4B-CDRZ
        .episode-iframeBlock
          .videosViewed
            .videosItem-number 19
          .hiddenBlock
            .hiddenBlock-title
              img(src='img/episodeChip.svg' alt='chip')
              .hiddenBlock-title-title Episode 12
            .hiddenBlock-text Remote programming
            .hiddenBlock-play
              img(src='img/Polygon1.png' alt='▹')
          .hiddenBlock
            .hiddenBlock-title
              img(src='img/episodeChip.svg' alt='chip')
              .hiddenBlock-title-title Episode 12
            .hiddenBlock-text Remote programming
            .hiddenBlock-play
              img(src='img/Polygon1.png' alt='▹')
          img(src='img/masterclass2.png' alt='img')
          .episode-iframeBlock-mobile-content
            .episode-iframeBlock-mobile-chip
            .episode-iframeBlock-mobile-title Remote programming
            hr
            .episode-iframeBlock-mobile-code ZN3N-8T4B-CDRZ
        .episode-iframeBlock
          .videosViewed
            .videosItem-number 20
          .hiddenBlock
            .hiddenBlock-title
              img(src='img/episodeChip.svg' alt='chip')
              .hiddenBlock-title-title Episode 12
            .hiddenBlock-text Remote programming
            .hiddenBlock-play
              img(src='img/Polygon1.png' alt='▹')
          img(src='img/masterclass3.png' alt='img')
          .episode-iframeBlock-mobile-content
            .episode-iframeBlock-mobile-chip
            .episode-iframeBlock-mobile-title Remote programming
            hr
            .episode-iframeBlock-mobile-code ZN3N-8T4B-CDRZ
        .episode-iframeBlock-mobile
          // <div class="viewed">viewed</div>
          img(src='img/masterclass1.png' alt='')
          .episode-iframeBlock-mobile-content
            .episode-iframeBlock-mobile-title Remote programming
            .episode-iframeBlock-mobile-code ZN3N-8T4B-CDRZ
        .episode-iframeBlock-mobile
          // <div class="viewed">viewed</div>
          img(src='img/masterclass2.png' alt='')
          .episode-iframeBlock-mobile-content
            .episode-iframeBlock-mobile-title Remote programming
            .episode-iframeBlock-mobile-code ZN3N-8T4B-CDRZ
        .episode-iframeBlock-mobile
          img(src='img/masterclass3.png' alt='')
          .episode-iframeBlock-mobile-content
            .episode-iframeBlock-mobile-title Remote programming
            .episode-iframeBlock-mobile-code ZN3N-8T4B-CDRZ
        .episode-iframeBlock-mobile
          img(src='img/masterclass1.png' alt='')
          .episode-iframeBlock-mobile-content
            .episode-iframeBlock-mobile-title Remote programming
            .episode-iframeBlock-mobile-code ZN3N-8T4B-CDRZ
        .episode-iframeBlock-mobile
          img(src='img/masterclass2.png' alt='')
          .episode-iframeBlock-mobile-content
            .episode-iframeBlock-mobile-title Remote programming
            .episode-iframeBlock-mobile-code ZN3N-8T4B-CDRZ
        .paging
          a(href='#') 1
          a(href='#') 2
          a(href='#') 3
          a(href='#') 4

  include footer.pug
